#
# 52 port core-switch
#
port gi1 asatrunk		# Trunk for ASA
port gi2-12 scoring
port gi13-18 local
port gi19-24 mario
port gi25-26 dmz
port gi27-32 wbf
port gi33-40 guest
port gi41-48 trunk
port gi49-52 trunk
